/*********************
    General
 *********************/

body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
max-width: 940px;
margin: 0 auto;
padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
margin: 0 0 1em 0;
}


/*********************
    Heading
 *********************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
text-align: center;
margin: 0;
}

h1 {
  font-family:'Open Sans', sans-serif;
  margin: 15px, 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: .8em;
}

/*********************
    Navigation
 *********************/

nav {
  text-align: left;
  padding 10px 0;
  max-width 20px 0 0
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}



/*********************
    Footer
 *********************/

footer {
font-size: .75em;
text-align: center;
clear: both;
padding-top: 50px
color: #ccc;
}

.social-icon {
  height: 0;
  width:; 0;
  margin: 0 5px;
}

/*********************
    pic page
 *********************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
margin: 0;
padding 0;
font-size: .75em;
color: #bdc3c7;
}



/*********************
    about Page
 *********************/

 .profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
 }



/*********************
    contact Page
 *********************/

.contact-info {
list-style: none;
padding: 0;
margin: 0;
font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}
.contact-info li.phone a {
  background-image: url('/pics/phone.png');
}

  .contact-info li.mail a {
  background-image: url('/pics/mail.png');
}

.contact-info li.twitter a {
  background-image: url('/pics/twitter.png');
}



/*********************
    colors
 *********************/

/* site body */
body {
  background-color: #fff
  color: #000;
}

header {
  background-color: #eeeeee;
  border-color: #FF69B4;
}

/* logo text */
h1, h2 {
  color: #888;
}

/* background on mobile devices*/
nav {
  background-color: #eeeeee;
}

/* nav link */
nav a, nav a {
  color: #888;
}

/* links */
a {
  color: #888;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #FF69B4;
}


